/* commmon */
.wrap {
    width: 750px;
    margin: 0 auto;
    text-align: center;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body {
    margin: 0;
    line-height: 0;
}

/* main */
.bg_img {
    max-width: 100%;
    height: 1339px;
    background: url(../img/main/bg_main.svg) no-repeat center center / 100% 100%;
}
.main_tit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 440px;
}
.sub_tit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 123px;
}
/* nav */
.nav_wrap {
    position: sticky;
    top: 0;
    left: 0;
    align-self: flex-start;
    padding: 20px 12px;
    background-color: #CB0016;
    z-index: 100;
    width: 1277px;
}
.nav li a {
    display: block;
    font-size: 28px;
    color: #FFC1C1;
    line-height: 29px;
    text-decoration: none;
    position: relative;
    padding-bottom: 28px;
}
.nav li.active a {
    font-weight: bold;
    color: #fff;
}
.nav li.active a:after {
    content: '';
    display: inline-block;
    width: 77px;
    height: 12px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/icon/icon-nav-active.svg) no-repeat center center / 100% 100%;
}
.nav li a:hover {
    color: #fff;
}
.nav_wrap img {
    width: 107px;
    height: 100px;
}

/* cont01 */
.cont01 {
    max-width: 100%;
    height: 3285px;
    position: relative;
}
.cont01_bg {
    background-color: #2E2F3E; 
}
.cont01 .cont01_tit_01 {
    padding-top: 160px;
}
.cont01 .cont01_img {
    padding-top: 40px;
}
.cont01 .cont01_btn {
    padding-top: 80px;
}
.cont01 .cont01_subtxt {
    padding-top: 32px;
}
.cont01 .cont01_tit_02 {
    padding-top: 140px;
}
.cont01 .cont01_img2 {
    padding: 80px 0;
}
.cont01 .cont01_cp {
    max-width: 100%;
    height: 1372px;
    background: url(../img/content/coipon_bg.svg) no-repeat center center / 100% 100%;
}
.cont01 .cont01_cp .couponSwiper {
    padding-top: 450px;
}
.cont01 .cont01_cp img {
    width: auto;
}

/* cont02 */
.cont02 {
    max-width: 100%;
    height: 2662px;
    background: url(../img/content/cont02.svg) no-repeat center center / 100%
        100%;
    text-align: center;
}
.cont02 .cont02_tit_01 {
    padding-top: 220px;
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 426px;
}
.cont02 .cont02_img_01 {
    margin-bottom: 56px;
}
.cont02 .cont02_img_01,
.cont02 .cont02_img_02 {
    padding: 0 40px;
    position: relative;
}
.cont02_img_box {
    position: absolute;
    width: 590px;
    height: 454px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cont02 .cont02_img_01 .cont02_img_box {
    top: 46%;
}
.cont02 .cont02_img_01 .cont02_img_box {
    background: url(../img/content/cont02_gift1_1.svg) no-repeat center center / 100%;
    animation: cont02_img_01 10s linear infinite;
}
.cont02 .cont02_img_02 .cont02_img_box {
    background: url(../img/content/cont02_gift2_1.svg) no-repeat center center / 100%;
    animation: cont02_img_02 10s linear infinite;
}
@keyframes cont02_img_01 {
    0% {
        background: url(../img/content/cont02_gift1_1.svg) no-repeat center center / 100%
    }
    25% {
        background: url(../img/content/cont02_gift1_2.svg) no-repeat center center / 100%
    }
    50% {
        background: url(../img/content/cont02_gift1_3.svg) no-repeat center center / 100%
    }
    100% {
        background: url(../img/content/cont02_gift1_4.svg) no-repeat center center / 100%
    }
}
@keyframes cont02_img_02 {
    0% {
        background: url(../img/content/cont02_gift2_1.svg) no-repeat center center / 100%
    }
    33% {
        background: url(../img/content/cont02_gift2_2.svg) no-repeat center center / 100%
    }
    100% {
        background: url(../img/content/cont02_gift2_3.svg) no-repeat center center / 100%
    }
}
/* cont03 */
.cont03 {
    max-width: 100%;
    height: 1708px;
    background: url(../img/content/cont03.png) no-repeat center center / 100%
        100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.cont03 .cont03_tit_01 {
    padding-top: 140px;
    max-width: 444px;
    margin: 0 auto;
}

.cont03 .cont03_tab > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 14px
}
.cont03 .cont03_tab > ul > li {
    padding: 12px 32px;
    border-radius: 16px;
    background-color: #DDE3E9
}
.cont03 .cont03_tab > ul > li:has(a.active) {
    background-color: #2E2F3E
}
.cont03 .cont03_tab > ul > li a {
    display: block;
    font-size: 28px;
    line-height: 36px;
    color: #3A3D41;
}
.cont03 .cont03_tab .tab_inn li a:hover,
.cont03 .cont03_tab .tab_inn li a.active {
    color: #fff;
}
.cont03 .tab_cont {
    margin-top: 40px;
}
.cont03 .cont03_img {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 590px;
}
.cont03 .cont03_btn {
    margin: 0 auto;
    max-width: 590px;
}

/* cont04 */
.cont04 {
    margin-top: -40px;
    max-width: 100%;
    height: 1408px;
    position: relative;
    background: url(../img/content/cont04.svg) no-repeat center center / 100%
        100%;
    text-align: center;
}
.cont04 .cont04_tit_01 {
    padding-top: 140px;
    margin: 0 auto;
    max-width: 455px;
    margin-bottom: 80px;
}
.cont04 .cont04_img > ul {
    justify-content: center;
    gap: 14px;
    margin-bottom: 40px;
}

/* cont05 */
.cont05 {
    max-width: 100%;
    height: 1810px; 
    margin-top: -40px;
    background: url(../img/content/cont05.svg) no-repeat center center / 100%
        100%;
    text-align: center;
}
.cont05 .cont05_tit_01 {
    margin-bottom: 80px;
}
.cont05 .cont05_img > ul > li + li {
    margin-top: 20px;
}
.cont05 .cont05_btn {
    margin-top: 40px;
}

/* cont06 */
.cont06 {
    max-width: 100%;
    height: 2223px;
    background: url(../img/content/bg_cont06.svg) no-repeat center center / 100%
        100%;
    text-align: center;
}
.cont06 .cont06_tit_01 {
    padding-top: 200px;
    margin-bottom: 60px;
}

/* cont07 */
.cont07 {
    max-width: 100%;
    height: 2191px;
    background: url(../img/content/bg_cont07.svg) no-repeat center center / 100%
        100%;
    text-align: center;
}
.cont07 .bg_swiper {
    margin: 80px 40px;
    padding: 12px;
    background-color: #192a4f;
    border-radius: 24px;
}
.cont07 .swiper {
}
.cont07 .swiper-wrapper .swiper-slide {
    flex-shrink: inherit;
}
.cont07 .week_box {
    padding: 24px 0;
    width: 121px;
    height: 130px;
    cursor: pointer;
}
.cont07 .week_box:hover,
.cont07 .week_box.active {
    padding: 24px 0;
    width: 121px;
    height: 130px;
    background-color: #ffa2d1;
    border-radius: 16px;
}
.cont07 .week_box .week {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}
.cont07 .week_box .cal {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
}
.cont07 .cont07_img {
    margin-bottom: 90px;
}
