@font-face{
    font-family: "APHQ";
    src: url(../font/APHQHangeul.otf) format('opentype');
}

.sec1{
    position: relative;
    height: clamp(1px, calc(100vw * 1404 / 750), 1404px);
    justify-content: center;
    align-items: flex-start;
    background: #000;
    overflow: hidden;
}
.sec1 img{
    width: 100%;
}

main{
    background: #073E29;
}
.menu{
    z-index: 3;
    position: sticky;
    top: 0;
    padding: clamp(1px, calc(100vw * 33 / 750), 33px) clamp(1px, calc(100vw * 30 / 750), 30px) clamp(1px, calc(100vw * 29 / 750), 29px);
    overflow: hidden;
    background: rgba(0, 0, 0, 0.18);
    font-family: "APHQ";
    text-align: center;
    font-size: clamp(1px, calc(100vw * 25 / 750), 25px);
    line-height: clamp(1px, calc(100vw * 30 / 750), 30px);
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu a.active{
    color: #FFC670;
}

.sec2{
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #073E29 7.29%, #1A1F4E 70.83%, #2A093F 100%);
    padding-bottom: clamp(1px, calc(100vw * 82.79 / 750), 82.79px);
}
.sec2 .icon{
    width: 100%;
}
.sec2 .icon img{
    width: 100%;
}
.sec2 .title{
    margin-top: clamp(1px, calc(100vw * 46 / 750), 46px);
    width: clamp(1px, calc(100vw * 146 / 750), 146px);
}
.sec2 .con1{
    margin-top: clamp(1px, calc(100vw * 44 / 750), 44px);
    width: clamp(1px, calc(100vw * 715 / 750), 715px);
}
.sec2 .con2{
    margin-top: clamp(1px, calc(100vw * 131 / 750),131px);
    width: clamp(1px, calc(100vw * 587 / 750), 587px);
}
.sec2 .con3{
    margin-top: clamp(1px, calc(100vw * 115 / 750), 115px);
    width: clamp(1px, calc(100vw * 402.22 / 750), 402.22px);
}

.sec3{
    flex-direction: column;
    align-items: center;
    padding-bottom: clamp(1px, calc(100vw * 86 / 750), 86px);
    background: linear-gradient(180deg, #0B4134 11.98%, #601313 63.02%);
}
.sec3 .icon{
    width: 100%;
}
.sec3 .icon img{
    width: 100%;
}
.sec3 .con1,
.sec3 .con2{
    flex-direction: column;
    align-items: center;
}
.sec3 .con1 .title{
    margin-top: clamp(1px, calc(100vw * 49.97 / 750), 49.97px);
    width: clamp(1px, calc(100vw * 146 / 750), 146px);
}
.sec3 .con1 .sub_title{
    margin-top: clamp(1px, calc(100vw * 44 / 750), 44px);
    width: clamp(1px, calc(100vw * 416 / 750), 416px);
}
.sec3 .con1 .con1_title{
    margin-top: clamp(1px, calc(100vw * 73 / 750), 73px);
    width: clamp(1px, calc(100vw * 381 / 750), 381px);
}
.sec3 .con1 .con1_swiper{
    margin-top: clamp(1px, calc(100vw * 62 / 750), 62px);
    width: clamp(1px, calc(100vw * 524 / 750), 524px);
    height: clamp(1px, calc(100vw * 748 / 750), 748px);
}
.sec3 .con1 .con1_btn{
    width: clamp(1px, calc(100vw * 550 / 750), 550px);
}
.sec3 .con1 .con1_btn .btn_title{
    margin-top: clamp(1px, calc(100vw * 50 / 750), 50px);
    width: clamp(1px, calc(100vw * 274 / 750), 274px);
}
.sec3 .con1 .btn{
    margin-inline: auto;
    margin-top: clamp(1px, calc(100vw * 18 / 750), 18px);
    width: clamp(1px, calc(100vw * 483 / 750), 483px);
    padding: clamp(1px, calc(100vw * 22 / 750),22px) clamp(1px, calc(100vw * 36 / 750), 36px) clamp(1px, calc(100vw * 29 / 750), 29px);
    background: #0F4033;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: clamp(1px, calc(100vw * 10 / 750), 10px);
}
.sec3 .con2 .title{
    margin-top: clamp(1px, calc(100vw * 109 / 750), 109px);
}
.sec3 .con2 .con2_swiper{
    margin-top: clamp(1px, calc(100vw * 50 / 750), 50px);
    width: clamp(1px, calc(100vw * 510 / 750), 510px);
    height: clamp(1px, calc(100vw * 710.33 / 750), 710.33px);
}
.sec3 .con2 .text{
    margin-top: clamp(1px, calc(100vw * 38.67 / 750), 38.67px);
    width: clamp(1px, calc(100vw * 528 / 750), 528px);
}
.sec3 .img_tag{
    position: absolute;
    z-index: 2;
    padding-top: clamp(1px, calc(100vw * 28 / 750), 28px);
    padding-right: clamp(1px, calc(100vw * 8 / 750), 8px);
}
.sec3 .sec3_swiper{
    overflow: hidden;
    border-radius: clamp(1px, calc(100vw * 258 / 750), 258px);
}
.sec3 .sec3_swiper .swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec3 .sec3_swiper .swiper-slide img{
    width: 100%;
}
.sec3 .img_tag{
    width: clamp(1px, calc(100vw * 145 / 750), 145px);
}

.sec4{
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #155EA2 24.87%, #FFFFFF 98.31%);
    padding-bottom: clamp(1px, calc(100vw * 89 / 750), 89px);
}
.sec4 .icon{
    width: 100%;
}
.sec4 .icon img{
    width: 100%;
}
.sec4 .title{
    margin-top: clamp(1px, calc(100vw * 8.75 / 750), 8.75px);
    width: clamp(1px, calc(100vw * 146 / 750), 146px);
}
.sec4 .sub_title{
    margin-top: clamp(1px, calc(100vw * 44 / 750), 44px);
    width: clamp(1px, calc(100vw * 403 / 750), 403px);
}
.sec4 .con{
    display: flex;
    flex-direction: column;
    margin-top: clamp(1px, calc(100vw * 45 / 750), 45px);
    width: clamp(1px, calc(100vw * 620 / 750), 620px);
}
.sec4 .con .tab{
    display: flex;
    width: 100%;
}
.sec4 .con .tab img{
    width: 50%;
}
.sec4 .con .img{
    width: 100%;
}
.sec4 .btn{
    margin-top: clamp(1px, calc(100vw * 50 / 750), 50px);
    width: clamp(1px, calc(100vw * 321 / 750), 321px);
    background: #1D6FBB;
    box-shadow: 3px 4px 5px rgba(52, 85, 122, 0.34);
    border-radius: 10px;
    padding: clamp(1px, calc(100vw * 23 / 750), 23px) clamp(1px, calc(100vw * 76 / 750), 76px) clamp(1px, calc(100vw * 27 / 750), 27px) clamp(1px, calc(100vw * 86 / 750), 86px);
}

.sec5{
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #126C46 38.05%, #ADB865 82.58%, #FFE176 97.74%);
    padding-bottom: clamp(1px, calc(100vw * 80 / 750), 80px);
}
.sec5 .icon{
    width: 100%;
}
.sec5 .icon img{
    width: 100%;
}
.sec5 .title{
    margin-top: clamp(1px, calc(100vw * 41 / 750), 41px);
    width: clamp(1px, calc(100vw * 146 / 750), 146px);
}
.sec5 .sub_title{
    margin-top: clamp(1px, calc(100vw * 44 / 750), 44px);
    width: clamp(1px, calc(100vw * 411 / 750), 411px);
}
.sec5 .img{
    display: flex;
    gap: clamp(1px, calc(100vw * 16 / 750), 16px);
    margin-top: clamp(1px, calc(100vw * 50 / 750), 50px);
    width: clamp(1px, calc(100vw * 620 / 750), 620px);
}
.sec5 .img img{
    width: 50%;
}
.sec5 .btn{
    margin-top: clamp(1px, calc(100vw * 48 / 750), 48px);
    background: #126C46;
    box-shadow: 3px 4px 4px rgba(17, 118, 162, 0.25);
    border-radius: 10px;
    padding: clamp(1px, calc(100vw * 22 / 750),22 px) clamp(1px, calc(100vw *123  / 750), 123px) clamp(1px, calc(100vw * 28 / 750),28px) clamp(1px, calc(100vw * 144 / 750), 144px);
    width: clamp(1px, calc(100vw * 216 / 750), 216px);
}

.sec6{
    flex-direction: column;
    align-items: center;
    padding-bottom: clamp(1px, calc(100vw * 88 / 750), 88px);
    background: linear-gradient(180.28deg, #FF7B2F 12.53%, #FF7853 51.08%, #FF7575 87.7%);
}
.sec6 .icon{
    width: 100%;
}
.sec6 .icon img{
    width: 100%;
}
.sec6 .title{
    margin-top: clamp(1px, calc(100vw * 43 / 750), 43px);
    width: clamp(1px, calc(100vw * 146 / 750), 146px);
}
.sec6 .sub_title{
    margin-top: clamp(1px, calc(100vw * 42 / 750), 42px);
    width: clamp(1px, calc(100vw * 468 / 750), 468px);
}
.sec6 .img{
    width: 100%;
}
.sec6 .list{
    width: clamp(1px, calc(100vw * 623 / 750), 623px);
    margin: 0 auto;
    margin-top: clamp(1px, calc(100vw * 63.6 / 750), 63.6px);
    flex-direction: column;
    align-items: center;
    gap: clamp(1px, calc(100vw * 24 / 750), 24px);
}
.sec6 .list img{
    width: 100%;
}
.sec6 .btn{
    margin-top: clamp(1px, calc(100vw * 59.73 / 750), 59.73px);
    background: #F03D3D;
    box-shadow: 3px 4px 4px rgba(104, 27, 27, 0.25);
    border-radius: 10px;
    padding: clamp(1px, calc(100vw * 22 / 750),22px) clamp(1px, calc(100vw * 113 / 750), 113px) clamp(1px, calc(100vw * 28 / 750), 28px) clamp(1px, calc(100vw * 128 / 750), 128px);
    width: clamp(1px, calc(100vw * 242 / 750), 242px);
}

.sec7{
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-bottom: clamp(1px, calc(100vw * 91 / 750), 91px);
    /* background: linear-gradient(180.19deg, #A15BAC 0.16%, #562289 54.79%, #006845 92.14%); */
}
.sec7::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180.19deg, #A15BAC 0.16%, #562289 54.79%, #006845 92.14%);
    transform: rotate(180deg);
}
.sec7 .icon{
    width: 100%;
    z-index: 1;
}
.sec7 .icon img{
    width: 100%;
}
.sec7 .title{
    margin-top: clamp(1px, calc(100vw * 23 / 750), 23px);
    width: clamp(1px, calc(100vw * 146 / 750), 146px);
    z-index: 1;
}
.sec7 .sub_title{
    margin-top: clamp(1px, calc(100vw * 44 / 750), 44px);
    width: clamp(1px, calc(100vw * 478 / 750), 478px);
    z-index: 1;
}
.sec7 .img{
    margin-top: clamp(1px, calc(100vw * 65 / 750),65px);
    flex-wrap: wrap;
    gap: clamp(1px, calc(100vw * 14 / 750), 14px);
    width: clamp(1px, calc(100vw * 620 / 750), 620px);
    z-index: 1;
}
.sec7 .img img{
    width: calc(50% - 7px);
}

.sec8{
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding-bottom: clamp(1px, calc(100vw * 91 / 750), 91px);
    background-image: url(../img/type_c_2/sec8_back.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.sec8 .icon{
    width: 100%;
}
.sec8 .icon img{
    width: 100%;
}
.sec8 .title{
    margin-top: clamp(1px, calc(100vw * 45 / 750), 45px);
    width: clamp(1px, calc(100vw * 146 / 750), 146px);
}
.sec8 .sub_title{
    margin-top: clamp(1px, calc(100vw * 43 / 750), 43px);
    width: clamp(1px, calc(100vw * 510 / 750), 510px);
}
.sec8 .img{
    margin-top: clamp(1px, calc(100vw * 66.03 / 750), 66.03px);
    width: clamp(1px, 100vw, 750px);
    height: clamp(1px, calc(100vw * 757 / 750), 757px);
}
.sec8 .img .swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
}
.sec8 .img img{
    height: 100%;
}
.sec8 .img .swiper-slide-active{
    opacity: 100%;
}
.sec8 .live_title{
    margin-top: clamp(1px, calc(100vw * 95 / 750), 95px);
    width: clamp(1px, calc(100vw * 201 / 750), 201px);
}
.sec8 .live_list{
    display: flex;
    margin-top: clamp(1px, calc(100vw * 21 / 750), 21px);
    margin-left: clamp(1px, calc(100vw * 60 / 750), 60px);
    transition: margin 0.3s ease-in-out;
}
.sec8 .live_list img{
    height: clamp(1px, calc(100vw * 322 / 750), 322px);
}
.sec8 .live:not(.sec8 .live:nth-of-type(1)){
    margin-left: clamp(1px, calc(100vw * -2 / 750), -2px);
}
.sec8 .live.active{
    background: linear-gradient(180deg, #89BC78 0%, #DA9263 115.53%);
}
.sec8 .btn{
    margin-top: clamp(1px, calc(100vw * 52 / 750), 52px);
    width: clamp(1px, calc(100vw * 216 / 750), 216px);
    padding: clamp(1px, calc(100vw * 22 / 750), 33px) clamp(1px, calc(100vw * 131 / 750), 131px) clamp(1px, calc(100vw * 28 / 750), 28px) clamp(1px, calc(100vw * 136 / 750), 136px);
    background: #312323;
    box-shadow: 3px 4px 4px rgba(162, 130, 17, 0.25);
    border-radius:clamp(1px, calc(100vw * 10 / 750), 10px);
}