/* common */
body {
  margin: 0 auto;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* font-size: 18px; */
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img {
  width: 100%;
}
.section03 {
  position: relative;
}
.section03 .swiper_coupon {
  position: absolute;
  top: 6.5%;
  padding-bottom: 40px;
}
.mySwiper_03 .swiper-slide {
  width: 80%;
}
.swiper-pagination {
  bottom: -40px;
}
.mySwiper_09 {
  background-color: #ddeaf3;
}
.mySwiper_09 .swiper-slide {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  align-items: baseline;
  margin-left: 5%;
  margin-right: 5%;
}
.section08 {
  position: relative;
  background-color: #00a4ea;
}
.mySwiper_08 .swiper-slide {
  width: 80%;
}
.mySwiper_08 .swiper-card {
  position: absolute;
  top: 51%;
}
.section09 {
  position: relative;
}
.mySwiper_09 .swiper-slide {
  width: 70%;
}
.mySwiper_09 .swiper-card {
  position: absolute;
  top: 51%;
}
.swiper-slide {
  text-align: center;
  font-size: 30px;
  line-height: 42px;
  /* background: #fff; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.tabSwiper .swiper-wrapper {
  display: flex;
  margin-left: 30px;
}
.swiper.mySwiper {
  display: flex;
}
.tabSwiper .swiper-slide img {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}

.coupon .swiper-pagination-bullet-active {
  background: #0e1b92;
}
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #ccc;
  max-width: 750px;
  margin: 0 auto;
}
.header {
  background-color: #eee;
}
.text-tab {
  background-color: #001d6c;
  height: 112px;
}
.container {
  background-color: #222;
}
.footer {
  background-color: #ddd;
}
