/* common */

body {
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    /* font-size: 18px; */
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide img.current {
    display: none;
}

img {
    width: 100%;
}

.section03 {
    position: relative;
}

.section03 .swiper_coupon {
    background-image: url(../img/section_03_con03.jpg);
    padding-bottom: 80px;
}

.mySwiper_03 .swiper-slide {
    width: 80%;
}

.mySwiper_03 .swiper-wrapper {
    background-image: url(../img/section_03_con03.jpg);
}

.swiper-pagination {
    bottom: -40px;
}

.section05 {
    background-color: #d9ebfa;
}

.section_05_content {
    margin: 0 60px;
    padding-bottom: 50px;
}

.section05 .keyframe01 {
    /* margin-top: 36px; */
    width: 100vw;
    width: clamp(1px, calc(100vw * 630 / 750), 630px);
    height: clamp(1px, calc(100vw * 550 / 750), 550px);
    background-image: url(../img/sec_05_con_01.png);
    background-size: cover;
    animation: img1 10s linear infinite;
}

@keyframes img1 {
    15% {
        background-image: url(../img/sec_05_con_01.png);
    }
    25% {
        background-image: url(../img/sec_05_con_02.png);
    }
    40% {
        background-image: url(../img/sec_05_con_02.png);
    }
    50% {
        background-image: url(../img/sec_05_con_03.png);
    }
    65% {
        background-image: url(../img/sec_05_con_03.png);
    }
    75% {
        background-image: url(../img/sec_05_con_04.png);
    }
    90% {
        background-image: url(../img/sec_05_con_04.png);
    }
}

.gift02 {
    padding-top: 80px;
}

.section05 .keyframe02 {
    /* margin-top: 36px; */
    width: clamp(1px, calc(100vw * 630 / 750), 630px);
    height: clamp(1px, calc(100vw * 550 / 750), 550px);
    background-image: url(../img/section_05_con02_02.png);
    animation: img2 10s linear infinite;
    background-size: cover;
    border-radius: 0 0 8% 8%;
}

@keyframes img2 {
    16% {
        background-image: url(../img/section_05_con02_02.png);
    }
    32% {
        background-image: url(../img/section_05_con02_03.png);
    }
    48% {
        background-image: url(../img/section_05_con02_03.png);
    }
    64% {
        background-image: url(../img/section_05_con02_04.png);
    }
    80% {
        background-image: url(../img/section_05_con02_04.png);
    }
}

.mySwiper_09 {
    background-color: #ddeaf3;
}

.mySwiper_09 .swiper-slide {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    align-items: baseline;
    margin-left: 5%;
    margin-right: 5%;
}

.section08 {
    position: relative;
    background-color: #00a4ea;
}

.mySwiper_08 .swiper-slide {
    width: 80%;
}

.mySwiper_08 .swiper-card {
    position: absolute;
    top: 51%;
}

.section09 {
    position: relative;
}

.mySwiper_09 .swiper-slide {
    width: 70%;
}

.mySwiper_09 .swiper-card {
    position: absolute;
    top: 51%;
}

.swiper-slide {
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    /* background: #fff; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.tabSwiper .swiper-wrapper {
    display: flex;
    margin-left: 30px;
}

.swiper.mySwiper {
    display: flex;
}

.tabSwiper .swiper-slide img {
    display: block;
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
}

.coupon .swiper-pagination-bullet-active {
    background: #0e1b92;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: #ccc;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}

.header {
    background-color: #eee;
}

.text-tab {
    background-color: #001d6c;
    height: 112px;
}

.text-tab.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 750px;
    overflow: hidden;
    z-index: 10;
}

.text-tab .mySwiper_01 {
    margin-left: 5%;
    height: auto;
}

.text-tab .mySwiper_01 .swiper-slide {
    display: flex;
}

.container {
    background-color: #222;
}

.footer {
    background-color: #ddd;
}

.tab-menu02 {
    background-color: #013ae1;
    height: 400px;
}